/TFG_Miguel_Angel-checkpoint.ipynb
/Clasificador naive bayes y regresión logistica-checkpoint.ipynb
/NN_datos_balanceados_oversampling-checkpoint.ipynb
/NN_datos_balanceados_undersampling-checkpoint.ipynb
/Red_neuronal_1-checkpoint.ipynb
